# Arquivos de ambiente virtual do Python
# ------------------------------------
.venv/
venv/
ENV/
env.bak/
env/
__pycache__/

# Arquivos gerados por ferramentas de teste e cobertura
# ----------------------------------------------------
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.tox/

# Arquivos de cache e configuração de IDEs/Editores
# ------------------------------------------------
# Visual Studio Code
.vscode/